<div id="times_container" class="kan-clock list">活动倒计时：<span id="times_day"> </span>天 <span id="times_hour"> </span>小时 <span id="times_minute"> </span>分 <span id="second"> </span>秒</div>

<h1 class="center tag">我的砸蛋记录</h1>

<div class="kan-section">
  <p><%= @label %></p>
  <% if @play.friend_plays.empty? %>
    <p>还没有朋友为您砸蛋，赶快邀请！</p>
  <% else %>
    <p>已有<%=@play.friend_plays.size%>位朋友帮你砸蛋，感谢TA们啦</p>

    <table>
        <thead>
            <tr>
                <th>砸蛋时间</th>
                <th>微信号</th>
                <th>剩余次数</th>
            </tr>
        </thead>
        <tbody>
          <% @play.friend_plays.reverse_each do |r| %>
            <tr>
              <td><%= Time.parse(r[2]).localtime.to_s(:db) %></td>
              <td><%=r[0]%></td>
              <td><%=r[1]%></td>
            </tr>
          <%end%>
        </tbody>
    </table>
    <%end%>
</div>
<div class="kan-section">
  <a href="<%=url_for :controller=>"caidan",:action=>"playview",:play=>@play.guid%>"><div class="btn btn-danger">我的活动</div></a>
</div>