<html>
<head>
  <title>Kanjia iphone6 title</title>
  <%= csrf_meta_tags %>  
  <div>Kanjia Head</div>
  <script>
    function isWeiXin(){ 
     var useragent = navigator.userAgent;
     if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
        // 这里警告框会阻塞当前页面继续加载
        alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
        // 以下代码是用javascript强行关闭当前页面
        var opened = window.open('about:blank', '_self');
        opened.opener = null;
        opened.close();
      }
    }
    
    var appid = '';//填入你的appid
    var shareTitle = 'title:劲爆，0元拿iPhone6';
    var descContent = "砍价，0元拿iPhone6！";
    var lineLink = '<%= @share_url.html_safe %> ';
    var imgUrl = 'http://p0.55tuanimg.com/static/goods/mobile/2014/07/03/13/0153b4cdcf4dba2f9d7b94d6681914d9_3.jpg';

    function shareFriend() {
      WeixinJSBridge.invoke('sendAppMessage',{
      "appid": appid,
      "img_url": imgUrl,
      "img_width": "640",
      "img_height": "640",
      "link": lineLink,
      "desc": descContent,
      "title": shareTitle
      }, function(res) {
      _report('send_msg', res.err_msg);
      });
    }
    function shareTimeline() {
      WeixinJSBridge.invoke('shareTimeline',{
      "img_url": imgUrl,
      "img_width": "640",
      "img_height": "640",
      "link": lineLink,
      "desc": descContent,
      "title": shareTitle
      }, function(res) {
      _report('timeline', res.err_msg);
      });
    }

    function WeixinAPIs(){
        var html = [];
        for(var key in window.WeixinJSBridge) {
            var js = 'WeixinJSBridge.' + key + ' = ' + window.WeixinJSBridge[key].toString();            
            html.push('<pre class="brush:js;toolbar:false;">' + js + '</pre>')
        }

        document.getElementById('WeixinJsApi').innerHTML = html.join('');
    }
    
    function onBridgeReady(){
     // 发送给好友
     WeixinJSBridge.on('menu:share:appmessage', function(argv){
     shareFriend();
     });

     // 分享到朋友圈
     WeixinJSBridge.on('menu:share:timeline', function(argv){
     shareTimeline();
     });     
    }
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
  </script>
</head>
<body>  
  <img class="banner" src="http://p0.55tuanimg.com/static/goods/mobile/2014/07/03/13/0153b4cdcf4dba2f9d7b94d6681914d9_3.jpg">
  <div>
    <%= @title %>
  </div>
  <div>
    <%= @label %>
  </div>
  <div>
    <%= @links.join(" ") %>
  </div>
</body>

</html>
